---
import Layout from './Base.astro';
import Container from "../components/Container.astro";
import ArticleSchema from '../components/ArticleSchema.astro';
import { Fragment } from 'astro';
import { Markdown } from 'astro/components';

const { frontmatter } = Astro.props;
const { title, description, publishDate, author, image, alt, music, mood } = frontmatter; // Ändere hier
---

<Layout seo={frontmatter}>
  <Fragment slot="head-bottom">
    <ArticleSchema {...frontmatter} />
  </Fragment>
  <Container>
    <article class="post-content__article">
      {image && <img width="720" height="420" class="post-main__img" loading="lazy" src={image} alt={alt} />}
      <h1 class="post-title">{title}</h1>
      <time>{publishDate}</time>

      <p><strong>Current Music:</strong> {music || "none"}<br/>
      <strong>Mood:</strong> {mood || "-"}</p>
      <hr />
      <slot />
    </article>
    <p>
      <button>
        <a href="mailto:mdohr07@gmail.com">Reply via E-Mail</a>
      </button>
    </p>
  </Container>
</Layout>
